@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p class="alert alert-success">@TempData["message"]</p>

<form method="POST" action="/User/SignupSubmit">
    <input type="text" name="name" placeholder="Enter your name" class="form-control"/>
    <input type="email" name="email" placeholder="Enter your email" class="form-control mt-2"/>
    <input type="password" name="password" placeholder="Enter your password" class="form-control mt-2"/>
<input type="submit" value="Signup" class="btn btn-primary mt-2"/>
</form>